<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <link rel="icon" href="../favicon.ico">
</head>
<body>
<div id="root">
    <!-- 

        插值表达式内不仅可以访问vm上的数据，还可以访问到当前或者上一层v-for中的数据

        v-for中可以写表达式，所以可以调用函数
     -->
 <ul v-for="num in arr">
     <li v-for="n in dealArr(num)">
         {{n}}
     </li>
 </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


<script>
    Vue.config.productionTip = false
    new Vue({
        el: "#root",
        data: {
            arr:[
                ['A','B','C','D'],
                ['a','b','c','d']
            ]
        },
        methods: {
            dealArr(arr){
                return arr.map(item =>item.toUpperCase())
            }
        },
    })
</script>
</body>
</html>