<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>姓名案例_watch实现</title>
		<!-- 引入Vue -->
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 
				computed和watch之间的区别：
						1.computed能完成的功能，watch都可以完成,只不过使用watch完成的时候要在data中配置一个监视的属性
						2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
						3.计算属性的使用场景是某一个数据的变化依赖于其他数据的变化(通常是data内的数据)，那么我们不应该去监视每一个子数据的变化
						  借此来修改该数据而应该直接将这个数据设置为计算属性,这样一来计算属性所依赖的数据发生变化后可获得最近的状态
						4.监听属性一般运用在数据的变化不依赖于其他数据的变化，比如数据的变化是我们去修改的，或者数据的变化里面要进行异步操作
						  因为计算属性的值只能通过函数返回值反映，在异步场景中不适用
						5.监听属性可以监听计算属性，两者可以配合使用 
						6.计算属性是一个抽象出来的属性,它的值依靠函数的返回值确定，所以不能在计算属性的函数内部使用异步，而监视属性的话
						  监视的是data里面的属性,是一个确定的属性,监视属性的函数没有返回值,所以要依托data里面引入的新的变量 
					    7.监视的属性的基本用法是监视一个数据的变化，从而来修改另外一个数据


				watch和v-model的区别:
				        1.watch和v-model都可以用于监视数据的变化，他们的不同在于使用v-mode来监视当页面上发生修改值的动作的时候,data中的数据就会被同步更新
						  如果其他函数内部使用了该值那么会被更新到最新的状态，但是不我们收不到通知，而watch可以做到实时的通知,当页面上修改被watch的值的时候
						  watch函数会被调用
						  
						2.如果一个值要被显示在网页中，而且网页中修改这个值后，数据也会同步更新，那么就可以使用v-model了，v-model具体可以用在data数据中，和
						  计算属性中，只不过计算属性搭配v-model去使用的话不能简写，要通过get/set方法去使用，另外v-model还可以用于props，当我们页面中显示的数据
						  来自于props并且修改页面上的数据会去修改props中的数据的话就可以使用v-model，但是props必须是一个引用类型才能被变更  


	


						 
				两个重要的小原则：
							1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象。
							2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
								这样this的指向才是vm 或 组件实例对象。
		-->
		<!-- 准备好一个容器-->
		<div id="root">
			姓：<input type="text" v-model="firstName"> <br/><br/>
			名：<input type="text" v-model="lastName"> <br/><br/>
			全名：<span>{{fullName}}</span> <br/><br/>
		</div>
	</body>

	<script type="text/javascript">
		Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

		const vm = new Vue({
			el:'#root',
			data:{
				firstName:'张',
				lastName:'三',
				fullName:'张-三'
			},
			watch:{
				firstName(val){
					setTimeout(()=>{
						console.log(this)
						this.fullName = val + '-' + this.lastName
					},1000);
				},
				lastName(val){
					this.fullName = this.firstName + '-' + val
				}
			}
		})
	</script>
</html>